<p-panel header="Search criteria">
  <form>
    <span>
      <label>Date and time</label>
      <p-calendar id='datetime2' name='datetime2' [(ngModel)]="dateTime" showTime="true" showIcon="true" hourFormat="24"></p-calendar>
    </span>
    <span id="duration-in-minutes">
      <label>Duration in minutes</label>
      <input id='duration' name='duration' type="number" [(ngModel)]="duration" pInputText>
    </span>
    <span>
      <p-button type='submit' (click)="searchForFreeCalendars()" label="search for empty slot"></p-button>
    </span>
  </form>
</p-panel>