:host {
    display: inline-block;

    .external-container  {
        border: 1px solid lightgray;

        .internal-container {
            display: flex;
            align-items: center;
            margin: 5px;

            input {
                margin: 5px;
            }

            label {
                margin: 5px;
                margin-left: 0;
            }
    
        }
    }
   
}
